@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(300px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-300px);
  }
}

::view-transition-old(root) {
  /* animation: none; */
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  /* animation: none; */
  mix-blend-mode: normal;
}
